:root{
    --color-bg-main: white;
    --color-bg-secondary: grey;

    --color-text-main:black;
    --color-text-secondary: black;

    --color-1: #933645;
    --color-2: #17CD28;

    --font-title: 'megan_juneregular';
    --font-para: 'cabin-regular-webfont';
}

html{
    scroll-behavior: smooth;
}

*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
    color: inherit;
    font-style: normal;
    text-decoration: none;
    border: none;
}

@font-face {
    font-family: 'megan_juneregular';
    src: url('./fonts/megan_june-webfont.woff2') format('woff2'),
         url('./fonts/megan_june-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'cabin-regular-webfont';
    src: url('./fonts/cabin-regular-webfont.woff2') format('woff2'),
         url('./fonts/cabin-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

body{
    background-color: var(--color-bg-secondary);
    font-family: var(--font-title);
    font-size: 16px;
}

.container{
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
}

.colonne{
    display: flex;
    flex-direction: column;
    gap: 0.8rem;
}

#header{
    background-color: var(--color-bg-main);
    display: flex;
    flex-direction: row;
    font-size: 2.4rem;
    padding-top: 16px;
}

#banner{
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 0 16px;
}

#logo{
    border-bottom: 10px solid var(--color-1);
}

#menuPrincipal{
    display: flex;
    gap: 16px;
}

#menuPrincipal li{
    height: 100%;
}

#menuPrincipal li a{
    text-align: center;
}

#menuPrincipal .activeLink{
    border-bottom: 10px solid var(--color-2);
}

#menuPrincipal li:hover{
    border-bottom: 10px solid var(--color-2);
}

#slider{
    height: 400px;
}

.nivo-caption{
    font-size: 3rem;
    font-family: var(--font-title) !important;
    background: none;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.textAccent{
    display: inline-block;
    color: #17CD28;
    border-bottom: 10px solid white;
    height: 100%;
}

#enAvant{
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #DDDCDC;
    padding: 32px 0;
}

.category{
    width: 370px;
    height: 400px;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 32px 56px;
    border: 1px solid rgba(129, 129, 129, 0.565);
}

.category .titleBox{
    border-bottom: 6px solid var(--color-1);
    text-align: center;
    width: 40px;
    padding-bottom: 8px;
    display: flex;
    justify-content: center;
}

.category h2{
    display: inline;
    text-align: center;
    font-size: 1.5rem;
    text-transform: uppercase;
    white-space: preserve nowrap;
    font-family: var(--font-para);
}

.category p{

    font-size: 1rem;
    font-family: var(--font-para);

}

.iconeCategory{
    width: 40px;
}

#CTA{
    display: flex;
    background-color: white;
}

#CTA #left{
    padding: 32px 16px 0px 16px;
    height: min-content;
}

#CTA #right{
    padding: 48px 80px 0px 32px;
}

#paraCTABox{
    overflow: visible;
    width: 30px;
}

#line{
    height: 1px;
    width: 30px;
    border-top:4px solid var(--color-1);

}

#CTAPara{
    margin-top: 56px;
    font-family: var(--font-para);
    font-size: 1.3rem;
}

#CTA #right #itemBox{
    margin-top: 40px;
    display: flex;  
    flex-wrap: wrap;
}

#CTA #right #itemBox .item{
    width: 40%;
    display: flex;
    justify-content: left;
    align-items: center;
    margin-top: 16px;
    gap: 8px;
    font-size: 1.5rem;
}

#CTA #right #itemBox .item img{
    width: 40px;
}


#CTA #right button{
    margin-top: 40px;
}

#CTA h2{
    font-size: 6rem;
    font-weight: 400;
}

#CTA img{
    width: 400px;
}

#CTA button{
    font-size: 1.1rem;
    font-weight: 600;
    padding: 16px 8px;
    color: white;
    background-color: var(--color-2);
    border-radius: 8px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    -ms-border-radius: 8px;
    -o-border-radius: 8px;
}

#pub{   
    height:200px;
    background-image: url(./images/home-05.jpg);
    margin-top: -5px;
}

#footer{
    background-color: rgb(40, 40, 40);
    color: white;
    padding: 36px 36px;
    display: flex;
    justify-content: space-between;
}

#footer .reseaux{
    display: flex;
    gap: 1rem;
}

#footer .reseaux i{
    font-size: 1.3rem;
    color: grey;
}

#footer address{
    font-size: 1.6rem;
    text-transform: capitalize;
}

#footer address span{
    font-size: 2rem;
    text-transform: uppercase;
}

#footer p{

    font-size: 1.6rem;
    line-height: 1;

}

#footer .retour{
    width: 40px;
}

.colonne:last-child{
    align-items: end;
}

@media (max-width: 1150px){
    #enAvant{
        flex-direction: column;
        gap: 16px;
    }
    #CTA{
        flex-direction: column;
        align-items: center;
    }

}